* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.card {
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.2);
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  font-size: 18px;
}

.swiper-button-prev-unique svg {
  transform: translateY(30%);
}
.swiper-button-next-unique svg {
  transform: translateY(30%);
}

.swiper-button-prev-unique {
  background-color: #f54747a2;
  height: 3rem;
  width: 5rem;
  border-radius: 10px;
  transform: translate(-80%, 270%);
}
.swiper-button-next-unique {
  background-color: #f54747bd;
  height: 3rem;
  width: 5rem;
  border-radius: 10px;
  transform: translate(80%, 270%);
}
h3 {
  background-color: rgba(236, 65, 99, 0.877);
  padding: 0.5rem;
  width: 20%;
  border-radius: 0 20px 20px 0;
  color: white;
}
.btn-click {
  border-radius: 20px;
  background-color: none;
  border-color: crimson;
  width: 46%;
  height: 2.5rem;
  font-weight: bold;
  text-align: start;
}
a.btn-click {
  color: crimson;
  text-align: start;
  justify-content: center;
  padding: 3% 5%;
}

.btn-click:hover {
  background-color: rgb(221, 51, 85);
  color: white;
}

.btn-click:focus {
  box-shadow: 1px solid black;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .btn-click {
    padding: 0.75rem 1.5rem;
  }
}
#btnNabarSearch {
  width: 300em;
  border-radius: 20px;
}
.card > img {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
}
.card-text {
  height: 5rem;
}
