* {
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-button-prev-unique svg {
  transform: translateY(30%);
}
.swiper-button-next-unique svg {
  transform: translateY(30%);
}

.swiper-button-prev-unique {
  background-color: #f54747a2;
  height: 3rem;
  width: 5rem;
  border-radius: 10px;
  transform: translate(-80%, 270%);
}
.swiper-button-next-unique {
  background-color: #f54747bd;
  height: 3rem;
  width: 5rem;
  border-radius: 10px;
  transform: translate(80%, 270%);
}
.main-content {
  width: 85%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #008080;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .sosmedicon {
    justify-content: space-between;
  }
 
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
.row > h2 {
  color: #008080;
}
.login_form {
  background-color: #fff;
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
form {
  padding: 0 2em;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}
.btn {
  transition: all 0.5s ease;
  width: 30%;
  border-radius: 30px;
  color: #008080;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #008080;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn:hover,
.btn:focus {
  background-color: #008080;
  color: #fff;
}

.google {
  background-color: #e70707;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.github {
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.facebook {
  background-color: #193498;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sosmedicon {
  padding-left: 32%;
  padding-right: 32%;
}

.sosmedicon li:hover{
    transform: translateY(-20%);
    transition-duration: 0.5s;
}


